.answerchoice {
	border: 1px solid black;
    border-radius: 5%;
	width: 40%;
	color: black;
    text-align: center;
    margin: 10px auto;
    font-size: 20px;
    background-color: white;

}

img {
  max-height: 200px;
  width: auto;
}

#vinebox {
    text-align: center;
    font-weight: bold;
    
}

#answerblock {
  text-align: center;
  font-weight: bold;

}

#questionblock {
  text-align: center;
  
}

#reset {
  visibility: visible;
}

body {
  background-image: url("../images/grapevine.jpg");
  background-size: cover;
  opacity: 50%;
  
}

h1 {
  text-align: center;
  color: black;
  font-weight: bolder;
  padding: 20px;
  font-size: 45px;
}

p {
  margin: 10px;
  font-weight: bold;
  color: green;
  font-size: 20px;
}

h2, h4 {
  margin: 30px;
  font-weight: bold;
}

.wrapper {
  margin: 10px auto;
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid black;
  height: 500px;
  width: 60%;
  text-align: center;
}

.btn {
  position: relative;
  top: 150px;
}